@model IEnumerable<BookStore.Models.CHUDE>
    <p class="lead">Chủ đề sách</p>
<div class="list-group">
    @foreach (var item in Model)
    {
        <li>
            <a href="@Url.Action("SPTheochude","BookStore",new {id=item.MaCD})" class="list-group-item">

                @item.TenChuDe
            </a>
        </li>

    }
</div>
